POSTGRES_USER=<>
POSTGRES_PASSWORD=<>
POSTGRES_PORT=<>
POSTGRES_DB=<>
#python -c "import secrets; print(secrets.token_urlsafe(32))"
JWT_SECRET_KEY=<>
AUTH_PORT=<>
ANALYSIS_PORT=<>
JWT_ALGORITHM=<>
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=<>
